<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>
    <body>
        <div class="home">
            <div class="intro">
                <p class="hello">Hello every body </p>
                <p class="welcome">Welcome to our recommendation system </p>
                <p class="try">Let's give it a try</p>
            </div>
            <form action="/training" method="post" class="Training">
                <input type="submit" value="Training">
            </form>

            <form action="/prediction" method="post" class="Prediction">
                <input type="submit" value="Prediction">
            </form>
        </div>

    </body>
</html>