<html>
    <body>
        <form action="/train" method="post">
            <label>file_path: </label><br>
            <input name="file_path"><br><br>
            <label>item_col: </label><br>
            <input name="item_col"><br><br>
            <label>user_col: </label><br>
            <input name="user_col"><br><br>
            <label>popularity: </label><br>
            <input name="popularity"><br><br>
            <label>genre: </label><br>
            <input name="genre"><br><br>
            <input type="submit" value="Fit", onclick="FbotonOn()">
        </form>

        <p id="status"></p>
        {{ training_text }}

        {% if prediction=="True" %}
            <form action="/prediction" method="post"> 
                <p>press prediction button if you want to use your trained model</p>
                <input type="submit" value="prediction" >
            </form>
        {% endif %}
    </body>
</html>

<script type="text/javascript">
    function FbotonOn() { 
    
        document.getElementById('status').innerHTML = "training ...";
    
    }
</script>